<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.koit.capstonproject_version_1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".controller.SharedPreferences.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/CustomAppTheme"
        android:usesCleartextTraffic="true">


        <activity android:name=".view.DebtPaymentDetailActivity" />
        <activity android:name=".view.InputPayDebtMoneyActivity" />
        <activity android:name=".view.DebitOfDebtorActivity" />
        <activity android:name=".view.DebitOrderListActivity" />
        <activity
            android:name=".view.OrderHistoryActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".view.RevenueActivity" />
        <activity android:name=".view.DetailReveneuActivity" />
        <activity android:name=".view.CreateOrderActivity" />
        <activity android:name=".view.ConvertRateActivity" />
        <activity
            android:name=".view.CreateProductActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".view.DetailProductActivity" />
        <activity android:name=".view.EditProductQuantityActivity" />
        <activity
            android:name=".view.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.IntroActivity"
            android:noHistory="true">

        </activity>
        <activity android:name=".view.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".view.SelectDebtorActivity" />
        <activity android:name=".view.EditDebtorActivity" />
        <activity android:name=".view.ListProductActivity" />
        <activity android:name=".view.RegisterInputPhoneActivity" />
        <activity
            android:name=".view.LoginActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".view.RegisterActivity" />
        <activity android:name=".view.FeedbackActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".view.UserInformationActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".view.ChangePasswordActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".view.ForgotPasswordActivity" />
        <activity android:name=".view.ResetPasswordActivity" />
        <activity android:name=".view.CustomScreenScanActivity" />
        <activity android:name=".view.CategoryActivity" />
        <activity android:name=".view.UpdateProductInformationActivity" />
        <activity android:name=".view.EditProductUnitsActivity" />
        <activity android:name=".view.EditConvertRateActivity" />
        <activity android:name=".view.InvoiceDetailActivity" />
        <activity android:name=".view.CustomerPayActivity" />
        <activity android:name=".view.DebitConfirmationActivity" />
        <activity android:name=".view.AddNewDebtorActivity" />
        <activity android:name=".view.SelectProductActivity" />
        <activity android:name=".view.DraftOrderActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>