<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.koit.capstonproject_version_1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".Controller.SharedPreferences.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/CustomAppTheme">
        <activity android:name=".View.DebtPaymentDetailActivity"></activity>
        <activity android:name=".View.InputPayDebtMoneyActivity" />
        <activity android:name=".View.DebitOfDebtorActivity" />
        <activity android:name=".View.DebitOrderListActivity" />
        <activity
            android:name=".View.OrderHistoryActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".View.RevenueActivity" />
        <activity android:name=".View.DetailReveneuActivity" />
        <activity android:name=".View.ListItemInOrderActivity" />
        <activity android:name=".View.ConvertRateActivity" />
        <activity
            android:name=".View.CreateProductActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".View.DetailProductActivity" />
        <activity android:name=".View.EditProductQuantityActivity" />
        <activity
            android:name=".View.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".View.SplashActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.SelectDebtorActivity" />
        <activity android:name=".View.EditDebtorActivity" />
        <activity android:name=".View.ListProductActivity" />
        <activity android:name=".View.RegisterActivity" />
        <activity
            android:name=".View.LoginActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".View.RegisterVerifyPhoneActivity" />
        <activity android:name=".View.FeedbackActivity" />
        <activity android:name=".View.UserInformationActivity" />
        <activity android:name=".View.ChangePasswordActivity" />
        <activity android:name=".View.ForgotPasswordActivity" />
        <activity android:name=".View.ResetPasswordActivity" />
        <activity android:name=".View.CustomScreenScanActivity" />
        <activity android:name=".View.CategoryActivity" />
        <activity android:name=".View.UpdateProductInformationActivity" />
        <activity android:name=".View.EditProductUnitsActivity" />
        <activity android:name=".View.EditConvertRateActivity" />
        <activity android:name=".View.InvoiceDetailActivity" />
        <activity android:name=".View.CustomerPayActivity" />
        <activity android:name=".View.DebitConfirmationActivity" />
        <activity android:name=".View.AddNewDebtorActivity" />
        <activity android:name=".View.SelectProductActivity" />
        <activity android:name=".View.DraftOrderActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>